{
  "name": "{{ flowName }}",
  "description": "{{ flowDescription }}",
  "steps": {
    {% for step in flowSteps.split(',') %}"{{ step | trim }}": {}{% if not loop.last %},
    {% endif %}{% endfor %}
  }
}