{
  "name": "{{ flowName }}",
  "description": "{{ flowDescription }}"{% if flowIsGenerator %},
  "isGenerator": true{% endif %},
  "steps": {
    {% for step in flowSteps.split(',') %}"{{ step | trim }}": {}{% if not loop.last %},
    {% endif %}{% endfor %}
  }
}